<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarPainelCadastro" aria-controls="navBarPainelCadastro" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarPainelCadastro">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a href="/" class="nav-link btn-outline-info" href="#">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="/cadastrar" class="nav-link btn-outline-info  btn-outline-text-light" href="#">Cadastrar Funcionario</a>
            </li>
            <li class="nav-item dropdown">
                    <a href="/listar" class="nav-link btn-outline-info  btn-outline-text-light" href="#">Listas de Cadastrados</a>
                </div>
            </li>
    </div>
</nav>