<%- include ('partials/header.ejs') %>

<body class="cadastrarFunc">
    <%- include ('partials/navbar.ejs') %>
    <div class="painel_cadastro card text-center container col-md-5">
        <div>
            <h1 style="text-align: center;">Cadastrar Funcionário</h1>
            <hr>
        </div>
            <div class="">
                <form class="">
                    <div class="form-group">
                        <label>Nome Completo</label>
                        <input type="text" class="form-control" required id="inNome" placeholder="Ex: José Maria...">
                    </div>
                    <div class="form-group">
                        <label>CPF</label>
                        <input type="text" class="form-control" required id="inCpf" placeholder="Ex:999.999.999-99" maxlength="14">
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" class="form-control" required id="inTel" placeholder="(99) 99999-9999">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required id="inMail"
                            placeholder="exemplo@exemplo.com.br">
                    </div>
                    <div class="form-group">
                        <label>Departamento</label>
                        <input type="text" class="form-control" required id="inDepar" placeholder="">
                    </div>
            <div class="card-footer">
                <div class="btn-group pull-left">
                    <button type="reset" class='btn btn-lg btn-warning' id="btnlimpar">Apagar Campo</button>
                </div>
                <div class="btn-group pull-right">
                    <button type="submit" class='btn btn-lg btn-success' id="btnConfirmar">Confirmar</button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs')%>