<%- include ('partials/header.ejs') %>

<body class="cadastrarFunc">
    <%- include ('partials/navbar.ejs') %>
    <div class="panelAround card text-center container col-md-5">
        <div>
            <h1 style="text-align: center; margin-top:5vh;">Cadastrar Funcionário</h1>
            <hr>
        </div>
            <div class="panelAround">
                <form method="POST" action="/cadastro">
                    <div class="form-group">
                        <label>Nome Completo</label>
                        <input type="text" class="form-control" required name="inNome" placeholder="Ex: José Maria...">
                    </div>
                    <div class="form-group">
                        <label>CPF</label> 
                        <input type="text" class="form-control" required name="inCpf" placeholder="Ex:999.999.999-99" maxlength="14">
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" class="form-control" required name="inTel" placeholder="(99) 99999-9999" maxlength="14">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required name="inEmail"
                            placeholder="exemplo@exemplo.com.br">
                    </div>
                    <div class="form-group">
                        <label>Departamento</label>
                        <input type="text" class="form-control" required name="inDepar" placeholder="">
                    </div>
            <div class="card-footer">
                <div class="btn-group pull-left">
                    <button type="reset" class='btn btn-lg btn-warning' name="btnlimpar">Apagar Campo</button>
                </div>
                <div class="btn-group pull-right">
                        <button type="submit" class='btn btn-lg btn-success' name="btnConfirmar">Confirmar</button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs')%>