<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
<div class="container">
    <div class="bem-vindo">
        <p> <b>Seja bem-vindo(a) <br/> ao Sistema de Cadastramento da TechWorking </b></p>
    </div>
</div>

</body>
<%- include('partials/footer.ejs')%>