<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="bem-vindo">
        <p> <b>Seja bem-vindo(a) <br/> a Sistema de Cadastramento da Tech Working </b></p>
    </div>

</body>
<%- include('partials/footer.ejs')%>